<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= process.env.TITLE %></title>
        <meta name="description" content="Custom crypto mining rigs. Serving Calgary and area." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--fonts-->
        <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
        <!--fonts for wanted poster
        <link href="https://fonts.googleapis.com/css?family=Ewert" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
        -->
        <!--Bootstrap 4-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <!--icons-->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="stylesheets/style.css" />
        <link rel="stylesheet" href="stylesheets/wanted.css" />
        <!--favicons-->
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
        <link rel="manifest" href="/img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- open graph -->
        <meta property="og:description" content="Consulting, education, and equipment... the Mining King will get you invested in cryptocurrencies. Specializing in Ethereum. Serving Calgary and area." />
        <meta property="og:title" content="The Mining King - the Original Blockchain Hype Man" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://theminingking.com/" />
        <meta property="og:image" content="https://theminingking.com/img/mining-king.svg" />
    </head>
    <body>
        <!--header-->
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top sticky-navigation">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ion-grid icon-sm"></span>
            </button>
            <a class="navbar-brand hero-heading" href="#">The Mining King</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a class="nav-link page-scroll" href="#main">Product <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link page-scroll" href="#features">Features</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                    </li>
                    <li class="nav-item mr-3">
                        <a class="nav-link page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--main section-->
        <section class="bg-texture hero" id="main">
            <div class="container">
                <div class="row d-md-flex brand">
                    <div class="col-md-6 wow fadeIn">
                        <%- include partials/messages.ejs %>
                        <img class="img-fluid mx-auto d-block" src="img/mining-king.svg"/>
                    </div>
                    <div class="col-md-6 col-sm-12 text-white wow fadeIn">
                        <div class="west">
                          <h1>Wanted</h1>
                          <h2>Pool Testers</h2>
                          <hr />
                          <img src="img/ETH.svg" alt="Ether">
                          <h2>reward</h2>
                          <hr />
                          <p>Ethereum</p>
                          <p class="mt-5">
                            <form action="/signup" method="post">
                              <input type="hidden" name="message" value="Send me info about the Calgary-based ether mining pool"</textarea>
                              <fieldset>
                                <label for="email">Calgary and area miners sign up below</label>
                                <input name="email" type="email" placeholder="yourname@example.com" value='<%= email %>'>
                              </fieldset>
                              <fieldset>
                                <button id='send-email-button-1' class='btn btn-primary mr-2 mb-2' type='submit'>Sign up</button>
                              </fieldset>
                            </form>
                          </p>
                        </div>
                        <!--
                        <h2 class="pt-4">Custom-built <b class="text-primary-light">Crypto Mining Rigs </b></h2>
                        <p class="mt-5">
                            Locally manufactured with cutting-edge components, The Mining King will get you invested in cryptocurrencies. Specializing in Ethereum. Serving Calgary and area.
                        </p>
                        <p class="mt-5">
                            <a href="#pricing" class="btn btn-primary mr-2 mb-2 page-scroll">Buy Now</a>
                        </p>
                        -->
                        <p class="mt-5">
                          <!--email signup errors -->
                          <%- include partials/messages.ejs %>
                        </p>

                    </div>
                </div>
                <div class="row d-md-flex brand">
                    <div class="col-md-6 wow fadeIn">
                    </div>
                    <div class="col-md-6 col-sm-12 text-white wow fadeIn">

                    </div>
                </div>
            </div>
        </section>

        <!--features-->
        <section class="bg-faded" id="features">
            <div class="container">
                <div class="row mb-3">
                  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                    <h2 class="text-primary">Invest in Cryptocurrencies Anonymously</h2>
                    <p class="lead mt-4">
                      Learn the risks and rewards of <br> blockchain techologies.
                    </p>
                  </div>
                </div>
                <div class="row mt-5 text-center">

                    <div class="col-md-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <div class="icon-box">
                                    <em class="fa fa-money icon-md" aria-hidden="true"></em>
                                </div>
                                <h6>Investment</h6>
                                <p>
                                  It's risky, but managing risk is at the heart of investment and entrepreneurship. You might lose all your money, or you might get rich. It's happened before.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <div class="icon-box">
                                    <em class="fa fa-btc icon-md" aria-hidden="true"></em>
                                </div>
                                <h6>Opportunity</h6>
                                <p>
                                   Billions have been made in Bitcoin. As with new coins, competitive miners are incentivized to maintain and support various blockchains all around the world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <div class="icon-box">
                                    <em class="fa fa-eye icon-md" aria-hidden="true"></em>
                                </div>
                                <h6>Transparency</h6>
                                <p>
                                  Anyone can examine a blockchain. Though not impossible, it makes it harder to get ripped off when you're making ordinary financial transactions. No trust required. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <div class="icon-box">
                                    <em class="fa fa-eye-slash icon-md" aria-hidden="true"></em>
                                </div>
                                <h6>Anonymity</h6>
                                <p>
                                  Transparent and anonymous? Yes indeed. Though every transaction is recorded in the blockchain ledger, there are no names attached. Send and receive coins anonymously.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <div class="icon-box">
                                    <em class="fa fa-lock icon-md" aria-hidden="true"></em>
                                </div>
                                <h6>Highly Secure</h6>
                                <p>
                                  A sensible, educated coin-owner is virtually immune to theft. Traditional fiat currencies, and the structures built around them, are easy to defraud by comparison.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <div class="icon-box">
                                    <em class="fa fa-globe icon-md" aria-hidden="true"></em>
                                </div>
                                <h6>World Changing</h6>
                                <p>
                                  New coins are solving new problems. Smart blockchain contracts will, in all likelihood, mitigate the need for lawyers, accountants, and government workers. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-alt p-0">
            <div class="container-fluid">
                <div class="row d-md-flex mt-5">
                    <div class="col-sm-6 p-0 wow fadeInLeft">
                      <img class="img-fluid" src="img/aloha.jpg" alt="Aloha entry-level mining rig">
                    </div>
                    <div class="col-sm-6 pl-5 pr-5 pt-5 pb-4 wow fadeInRight">
                      <h3><a href="#">What do I look for in a mining rig?</a></h3>
                      <p class="lead pt-4">To make money, you need:</p>
                      <ol class="pt-4 pb-3 list-default">
                        <li>Raw computational power</li>
                        <li>Electrical efficiency</li>
                        <li>A cryptocurrency that's <a href="https://coinmarketcap.com/" target="_blank">climbing in value</a></li>
                      </ol>
                      <p class="lead pt-4">
                        A rig costs money to run and you need to run it for as long as the market makes it profitable. As such, you need to get the most out of the GPUs available on the hardware market at any given time.
                      </p>
                    </div>
                    <div class="col-sm-6 p-0 mt-4 wow fadeInLeft">
                      <img class="img-fluid" src="https://i.ebayimg.com/00/s/ODAwWDQ1MA==/z/3n0AAOSwOMdZTeve/$_59.JPG" alt="560 MH Asus AMD 570 mining tower">
                    </div>
                    <div class="col-sm-6 pl-5 pr-5 pt-5 pb-4 wow fadeInRight">
                        <h3>Can I build my own rig?</h3>
                        <p class="lead pt-4">
                          You sure can! It does take a bit of advanced computer know-how, but YouTube is an excellent resource to beef up your hardware and software knowledge. There are many excellent tutorials on building your own custom aluminum frames.
                        </p>
                        <h3>Oh no! What software should I use?</h3>
                        <p class="lead pt-4">
                          The Mining King has a saying: <i>If you pay for software, you're a sucker</i>. You can obtain all the open source software you need to start mining for free.
                        </p>
                        <h3>I don't have time for all that, where can I buy a rig?</h3>
                        <p class="lead pt-4">
                          The Mining King will build you one!
                        </p>
                        <p class="lead pt-4">
                          Alternatively, there are many home-based vendors in the Calgary area. Search Kijiji. As with anything, buyer beware! Is the seller going to answer your questions after you take your rig home?
                        </p>
                    </div>
                    <div class="col-sm-6 p-0 mt-4 wow fadeInLeft">
                      <img class="img-fluid" src="https://i.ebayimg.com/00/s/NjAwWDgwMA==/z/DRQAAOSwAC1aEyn7/$_59.JPG">
                    </div>

                    <div class="col-sm-6 pl-5 pr-5 pt-5 pb-4 wow fadeInRight">
                        <h3>What if I have a mining question?</h3>
                        <p class="lead pt-4">Even if your rig vendor leaves you high and dry, you can always...
                          <a href="#contact" class="btn btn-primary mr-2 page-scroll">Ask the Mining King!</a>
                        </p>
                        <!--
                        <h3><a href="#">The Aloha model features:</a></h3>
                        <ul class="pt-4 pb-3 list-default">
                          <li>Custom built aluminum frame</li>
                          <li>Gigabyte H110-D3a BTC ATC motherboard</li>
                          <li>Intel Core i3 71000 3.9GHz CPU</li>
                          <li>4G Kingston D.HyperX FuryBK RAM</li>
                          <li>120 GB Kingston A400 SSD</li>
                          <li>EVGA Supernova 1200W Platinum power supply</li>
                          <li>6x 8G MSI Radeon RX 580 GPUs</li>
                          <li>Open source software, with Ubuntu 16.04 OS</li>
                        </ul>
                        <a href="#contact" class="btn btn-primary mr-2 page-scroll">Have a question?</a>
                        -->
                    </div>
                </div>
            </div>
        </section>

        <!--pricing-->
        <section class="bg-faded" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center">
                        <h2 class="text-primary">Mining Motto:</h2>
                        <p class="lead pt-3">
                            Prices are subject to change.
                        </p>
                    </div>
                </div>
                <div class="row d-md-flex mt-4 text-center">
                    <div class="col-sm-4 mt-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title pt-4 text-orange">Schwag</h5>
                                <h3 class="card-title text-primary pt-4"><sup>$</sup>7 - <sup>$</sup>30</h3>
                                <p class="card-text text-muted pb-3 border-bottom">Slick Mining King merch</p>
                                <ul class="list-unstyled pricing-list">
                                    <li>T-Shirts</li>
                                    <li>Men, Women, and Kids</li>
                                    <li>Small-XL</li>
                                    <li>Long-lasting vinyl stickers and window decals</li>
                                </ul>
                                <a href="http://schwag.theminingking.com/" class="btn btn-primary btn-radius" target="_blank">Shop</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title pt-4 text-orange">Frames</h5>
                                <h3 class="card-title text-primary pt-4"><sup>$</sup>150 - <sup>$</sup>300</h3>
                                <p class="card-text text-muted pb-3 border-bottom">Locally manufactured</p>
                                <ul class="list-unstyled pricing-list">
                                    <li>Heavy-gauge aluminum</li>
                                    <li>Any size</li>
                                    <li>Sturdy construction</li>
                                    <li>Cut to spec</li>
                                </ul>
                                <a href="#contact" class="btn btn-primary btn-radius">Get Quote</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4 wow fadeIn">
                        <div class="card">
                            <div class="card-block">
                                <h5 class="card-title pt-4 text-orange">Rigs <small class="badge bg-primary small-xs">Custom Made</small></h5>
                                <h3 class="card-title text-primary pt-4">Parts and Labour</h3>
                                <p class="card-text text-muted pb-3 border-bottom">By commission</p>
                                <ul class="list-unstyled pricing-list">
                                    <li>Mine Ethereum and Altcoins</li>
                                    <li>Maximize Potential Returns</li>
                                    <li>Preconfigured for no-hassle, pooled mining</li>
                                    <li>Cutting-edge Equipment</li>
                                    <li>Education and support</li>
                                </ul>
                                <a href="#contact" class="btn btn-primary btn-radius">Get Quote</a>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </section>

        <!--contact-->
        <section class="bg-texture-collage p-0" id="contact">
            <div class="container">
                <div class="row d-md-flex text-white text-center wow fadeIn">
                    <div class="col-sm-4 p-5">
                        <p><em class="ion-ios-telephone-outline icon-md"></em></p>
                        <p class="lead">+1 403 917 1296</p>
                    </div>
                    <div class="col-sm-4 p-5">
                        <p><em class="ion-ios-email-outline icon-md"></em></p>
                        <p class="lead">info@theminingking.com</p>
                    </div>
                    <div class="col-sm-4 p-5">
                        <p><em class="ion-ios-location-outline icon-md"></em></p>
                        <p class="lead">Calgary, Alberta</p>
                    </div>
                </div>
            </div>
        </section>

        <!--email list-->
        <section class="bg-texture-collage p-0" id="contact">
             <div class="container">
                <div class="row d-md-flex text-white text-center wow fadeIn">

                </div>
            </div>
        </section>

        <!--footer-->
        <section class="bg-footer" id="connect">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12 text-center wow fadeIn">
                        <h1>The Mining King</h1>
                        <form action="/signup" method="post">
                          <fieldset>
                            <label for="email">Have a crypto question for the Mining King?</label>
                            <input name="email" type="email" placeholder="yourname@example.com" value='<%= email %>'>
                          </fieldset>
                          <fieldset>
                            <label for="message"></label>
                            <textarea name='message' rows='5' placeholder='Dear Mining King...'><%= message %></textarea>
                          </fieldset>
                          <fieldset>
                            <button id='send-email-button-2' class='btn btn-primary mr-2 mb-2' type='submit'>Send</button>
                          </fieldset>
                        </form>
                        <p class="pt-2 text-muted">
                            Comply Theme &copy; 2017 by <a href="https://wireddots.com">Wired Dots</a>. Developed by <a href="https://twitter.com/attacomsian">@attacomsian</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
